@font-face {
  font-family: 'Quicksand Bold';
  src: url('../../assets/fonts/Quicksand/QuicksandBoldOblique-Regular.eot');
  src: url('../../assets/fonts/Quicksand/QuicksandBoldOblique-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Quicksand/QuicksandBoldOblique-Regular.woff2') format('woff2'),
  url('../../assets/fonts/Quicksand/QuicksandBoldOblique-Regular.woff') format('woff'),
  url('../../assets/fonts/Quicksand/QuicksandBoldOblique-Regular.ttf') format('truetype'),
  url('../../assets/fonts/Quicksand/QuicksandBoldOblique-Regular.svg#QuicksandBoldOblique-Regular') format('svg');
  font-weight: bold;
  font-style: normal;
}